<div class="album py-5">
    <div class="container">
        <table class="table">
            <thead>
                <tr style="background-color:darksalmon">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Created Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="categories.length == 0">
                    <th scope="row" colspan="8" class="text-center text-bold">No categories found</th>
                </tr>

                <tr *ngFor="let record of categories">
                    <th scope="row">{{ record.categoryId}}</th>
                    <td>{{ record.name }}</td>
                    <td>{{ record.description }}</td>
                    <td>
                        <p>{{ record.imageUrl }}</p>
                        <img class="img-fluid" src="../../../../assets/images/{{ record.imageUrl }}" alt="category-image" width="200" />
                    </td>
                    <td>{{ record.createdDateTime | date :'dd/MM/yyyy, hh:mm:ss aa'}}</td>
                    <td><button class="btn btn-danger" (click)="deleteCategory(record.categoryId)">Delete</button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
