<div class="container mt-3">
    <div class="container">
        <div class="row">
            <div class = "col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="objectId" style="font-weight: bold;">Object Id</label>
                            <div>{{ category._id }}</div>
                        </div>

                        <div class="mb-3">
                            <label for="categoryId" style="font-weight: bold;">Category Id</label>
                            <div>{{ category.categoryId }}</div>
                        </div>

                        <div class="mb-3">
                            <label for="name" style="font-weight: bold;">Name</label>
                            <div>{{ category.name | capitalise }}</div>
                        </div>

                        <div class="mb-3">
                            <label for="desc" style="font-weight: bold;">Description</label>
                            <div>{{ category.description }}</div>
                        </div>

                        <div class="mb-3">
                            <label for="createdDateTime" style="font-weight: bold;">Created Date Time</label>
                            <div>{{ category.createdDateTime | date :'dd/MM/yyyy, hh:mm:ss aa' }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" src="../../../../assets/images/{{ category.imageUrl }}" alt="category-image"
                    width="100%">
            </div>
        </div>
    </div>

    <div>
        <div class="container" style="padding-top: 20px;">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Duration</th>
                        <th>Is Active</th>
                        <th>Capacity</th>
                        <th>Tickets Available</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="category.eventsList.length == 0">
                        <th scope="row" colspan="8" class="text-center text-bold">No events found</th>
                    </tr>

                    <tr *ngFor="let record of category.eventsList">
                        <th scope="row">{{ record.eventId}}</th>
                        <td>{{ record.name }}</td>
                        <td>{{ record.startDateTime | date :'dd/MM/yyyy, hh:mm:ss aa'}}</td>
                        <td>{{ record.startDateTime | setEndDateTime:record.durationInMinutes | date :'dd/MM/yyyy, hh:mm:ss aa'}}</td>
                        <td>{{ record.durationInMinutes | durationConversion }}</td>
                        <td *ngIf="record.isActive"><input type="checkbox" checked disabled></td>
                        <td *ngIf="!record.isActive"><input type="checkbox" disabled></td>
                        <td>{{ record.capacity }}</td>
                        <td>{{ record.ticketAvailable }}</td>
                        <td><button class="btn" (click)="onViewEvent(record.eventId)" style="background-color:darksalmon">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>